<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <!-- Start Contact Info -->
            <ul class="contact-details">
              <li><a href="mailto:prarthanashah97@gmail.com"><i class="fa fa-envelope-o"></i> prarthanashah97@gmail.com</a></li>
              <li><a><i class="fa fa-phone"></i> +91-9029050235</a>
              </li>
            </ul>
            <!-- End Contact Info -->
          </div><!-- .col-md-6 -->
          <div class="col-md-5">
            <!-- Start Social Links -->
            <ul class="social-list">
              <li>
                <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i
                    class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i
                    class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i
                    class="fa fa-linkedin"></i></a>
              </li>

              <li>
                <a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="#"><i
                    class="fa fa-skype"></i></a>
              </li>
            </ul>
            <!-- End Social Links -->
          </div><!-- .col-md-6 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .top-bar -->
    <!-- End Top Bar -->


    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Stat Toggle Nav Link For Mobiles -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <!-- End Toggle Nav Link For Mobiles -->
          <a href="/">
            <img alt="" src="assets/images/logo.png" style="padding:1%;width:500px;height:100px">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style=" padding-top: 1%;">
            <li>
              <a  href="/" [ngClass]="currentRoute=='/'?'active':''"  >Home</a>
            </li>
            <li>
              <a href="/about" [ngClass]="currentRoute=='/about'?'active':''"  >About Us</a>
            </li>
            <li>
              <a href="/product" [ngClass]="currentRoute.includes('/product')?'active':''" >Product</a>
              <ul class="dropdown">
                <li><a href="/product/ground" [ngClass]="currentRoute=='/product/ground'?'active':''" >Ground Spices</a></li>
                <li><a href="/product/blend" [ngClass]="currentRoute=='/product/blend'?'active':''">Blend Spices</a></li>
                <li><a href="/product/other" [ngClass]="currentRoute=='/product/other'?'active':''">Other Products</a></li>
              </ul>
            </li>
            <li><a href="/client" [ngClass]="currentRoute=='/client'?'active':''">Clients</a> </li>
            <li><a href="/contact" [ngClass]="currentRoute=='/contact'?'active':''">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>