<section id="home">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="assets/images/slider/slider1.jpg" alt="slider">
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="assets/images/slider/slider2.jpg" alt="slider">
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="assets/images/slider/slider3.jpg" alt="slider">
      </div>
      <!--/ Carousel item end -->
    </div>
    <!-- Carousel inner end-->
  </div>
  <!-- /carousel -->
</section>


<div class="section service">
  <div class="container">
    <div class="row">

      <!-- Start Service Icon 1 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <img class="imgHomePanel" src="assets/images/homePanel1.png" title="website development" />
        </div>
        <div class="service-content">
          <h4>Ground Spices</h4>
          <p>Simply delicious and the perfect accompaniment to any meal. This is a dry product to which you add water.</p>

        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
        <div class="service-icon">
          <img class="imgHomePanel" src="assets/images/homePanel2.png" title="Ground Spices" />
        </div>
        <div class="service-content">
          <h4>Blend Spices</h4>
          <p>Our Seasonings have been uniquely developed and blended which cover a very extensive list.</p>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
        <div class="service-icon">
          <img class="imgHomePanel" src="assets/images/homePanel3.png" title="Blend Spices" />
        </div>
        <div class="service-content">
          <h4>Dehydrated Spices</h4>
          <p>Our Herbs are imported in a dehydrated form . We process these into crushed or powder form.</p>
        </div>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="04">
        <div class="service-icon">
          <img class="imgHomePanel" src="assets/images/homePanel4.png" title="Foods" />
        </div>
        <div class="service-content">
          <h4>Whole Spices</h4>
          <p>We offer both wet and dry. They are a tasteful tribute to our years of experience in recipe.</p>
        </div>
      </div>
      <!-- End Service Icon 4 -->

    </div><!-- .row -->
  </div><!-- .container -->
</div>
<!-- End Services Section -->

<!-- Start Portfolio Section -->
<div class="section full-width-portfolio" style="border-top:0; border-bottom:0; background:#FAFAFA;">
  <div class="container">
    <div class="row">
      <!-- Start Big Heading -->
      <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
        <h1>Know About <strong>Sbeis N Panache</strong></h1>
      </div>
      <!-- End Big Heading -->

      <p align="justify"><strong>Sbeis N Panache Industries Pvt. Ltd.</strong> deals with spices and herbs are non-irradiated, contain no anti-caking agents, no artificial colors, and no MSG. Our spices and herbs are all natural and pure as defined by The Pure Food and Drug Act. In addition, our ingredients are cleaned without the use of chemicals, continually inspected by trained staff and milled to exact specifications to ensure purity, consistency, color, and taste.Behind our trusted name you will find the very best in culinary ingredients.Behind our trusted name you will find the very best in culinary ingredients.</p>

      <p align="justify"><strong>Sbeis N Panache Industries Pvt. Ltd, an ISO 9001:2008 certified Company</strong> is one of the
        leading manufacturer.We pride ourselves on giving our customers the finest spices. Our most important priority will always be the commitment to our customer’s satisfaction and their success. Our most important priority will always be the commitment to our customer’s satisfaction and their success.</p>

      <p align="justify" style="padding-bottom:5%;"><strong>Sbeis N Panache Industries Pvt. Ltd</strong> products are cleaned without the use of chemicals, inspected by trained staff and milled to exact specifications to ensure purity, consistency and color.</p>

      <!-- End Recent Projects Carousel -->


    </div>
  </div>
</div>
<!-- End Portfolio Section -->
<!-- Start Testimonials Section -->

<!-- End Testimonials Section -->

<div id="parallax-one" class="parallax" style="background-image:url(assets/images/parallax/bg-02.jpg);">
  <div class="parallax-text-container-1">
    <div class="parallax-text-item">
      <div class="container">
        <div class="row">

          <!-- Start Big Heading -->
          <div class="big-title text-center">
            <h1>Our Happy <strong>Clients</strong></h1>
            <p class="title-desc">Customers We Delivered To</p>
          </div>
          <!-- End Big Heading -->

          <!--Start Clients Carousel-->
          <div class="our-clients">
            <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5"
              data-navigation="true">

              <!-- Client 1 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 2 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 3 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 4 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 5 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 6 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 7 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

              <!-- Client 8 -->
              <div class="client-item item">
                <a href="#"><img src="assets/images/c4.png" alt="" /></a>
              </div>

            </div>
          </div>
          <!-- End Clients Carousel -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div>
  </div>
</div>


<!-- Start Client/Partner Section -->
<div class="container" style="margin-bottom:5%;">
  <div class="row">
    <div class="hr5" style="margin-top:40px;margin-bottom:40px;"></div>

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>What Our Customer Say</span></h4>

    <!-- Start Testimonials Carousel -->
    <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
      <!-- Testimonial 1 -->
      <div class="classic-testimonials item">
        <div class="testimonial-content">
          <p>Your spices are really of good quality. Every day I use aome spices. We Enjoy very much.I am so happy to cook meals for my family and friends with your famous spices, so great.I cooked tandori chicken for 12 people & it was a great success!</p>
        </div>
        <div class="testimonial-author"><span>Name Of Person</span> - Rakesh Dwivedi</div>
      </div>
      <!-- Testimonial 2 -->
      <div class="classic-testimonials item">
        <div class="testimonial-content">
          <p>Your masala mixtures are the best spices I have ever had.Because we loved your spices and used them regularly, we were in South India, this year and brought some spices on the spot, but they are not as fragnant as yours.</p>
        </div>
        <div class="testimonial-author"><span>Name Of Person</span> - Amit Gupta</div>
      </div>
    </div>
    <!-- End Testimonials Carousel -->
    <!-- End Testimonials Carousel -->
  </div>
</div>
<!-- End Client/Partner Section -->

<div>
  <div class="container">
    <div class="row"></div>

  </div>
</div>